.App {
  min-height: 100vh;
}

.adSlot {
  height: 200px;
  width: 200px;
  background-color: #282c34;
}

#adSlot1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTvA94S1MdUG-roMEXkVM__FnoCnjH8SV95gwFbSTKM1-shWV5J&usqp=CAU");
}

#adSlot2 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQ7Yo5hhd6g8D-okkK6YdfgGFhfzYvlKxiWqsPs2LDz7-NG5FR&usqp=CAU");
}